[submodule "achbogga-rbommaga-a1"]
	path = achbogga-rbommaga-a1
	url = https://github.iu.edu/cs-b551/achbogga-rbommaga-a1
[submodule "achbogga-sshrivas-a2"]
	path = achbogga-sshrivas-a2
	url = https://github.iu.edu/cs-b551/achbogga-sshrivas-a2
[submodule "achbogga-a3"]
	path = achbogga-a3
	url = https://github.iu.edu/cs-b551/achbogga-a3
[submodule "achbogga-a4"]
	path = achbogga-a4
	url = https://github.iu.edu/cs-b551/achbogga-a4
[submodule "achbogga-laxmalka-a5"]
	path = achbogga-laxmalka-a5
	url = https://github.iu.edu/cs-b551/achbogga-laxmalka-a5
[submodule "achbogga-a6"]
	path = achbogga-a6
	url = https://github.iu.edu/cs-b551/achbogga-a6
